form{
    background-color: aqua;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    color: black;
    margin: 5px;
}
.input1{
    margin: 5px;
    background-color: aquamarine;
    text-align: center;
}
